<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RewriteUserFriendly" stopProcessing="true">
                    <match url="^(.*)/?$" />
                    <conditions>
						<add input="{URL}" pattern="^/(controller|framework|language|media|model|view)/" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
        </httpErrors>
    </system.webServer>
</configuration>
